
.idea/Gierer-Meinhardt.iml
.idea/Gierer-Meinhardt.iml
.idea/other.xml
turing_patterns/log.txt
.DS_Store
.idea/Gierer-Meinhardt.iml
.idea/misc.xml
__pycache__/PDE_solver.cpython-39.pyc
.idea/Gierer-Meinhardt.iml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
*.xml
